body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.catalog-container {
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 2rem;
}

.catalog-container > section:nth-child(1) {
  border: none;
  border-right: 1px dotted black;
}

.catalog-container > section {
  padding-left: 5rem;
  padding-right: 5rem;
}
