.products-container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    border-radius: 1rem;
    border: 1px solid grey;
    padding: 5px;
    min-width: 10rem;
    margin: 1px 1rem;
    flex: 1 1 10rem;
}